/* Write your CSS here */
*{
    font-family: "bree serif";
    color: #ffffff;
}
.card{
   background-color: #0f172a;
   display: flex;
   flex-direction: column;
   align-items: center;
    margin-right: 8px;
   margin-bottom: 8px;
   padding: 8px;
   border-radius: 20px;
   list-style-type: none;
   border: none;
}
.Logo{
    height: 120px;
}
.competing-team{
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    text-align: center;
}
.reesult{
    font-size: 16px;
    font-weight: 500;
    width: 210px;
    text-align: center;
}
.STatus{
    font-size: 18px;
    font-weight: bold;
}
.green{
    color: #18ed66;
}
.red{
    color: #e31a1a;
}
