/* Write your CSS here */
*{
    font-family: "bree serif";
}
li{
    border:3px solid #ffffff;
    border-radius: 14px;
    background-color: #ffffff33;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.team-logo{
    height: 80px;
    margin-right: 5px;
}
.team-name{
    color: #ffffff;
    font-size: 18px;
    width:230px;
    height: 60px;
}
