/* Write your CSS here */
*{
    font-family: "bree serif";
}
.bg{
    background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png");
    height: 100vh;
    background-size: cover;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:576px){
    .bg{
        background-image:url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png");
    }
}

.title-container{
    display: flex;
    justify-content: space-between;
}
.ipl-logo{
    height: 100px;
}
.main-heading{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}
.team-cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 80%;
}
